﻿@model Stok_Takip.Models.StockSave

@{
    ViewBag.Title = "Delete";
}

<h2>Kayıt Sil</h2>

<h3>Silmek İstediğinize Eminmisiniz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPayment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Anasayfaya Dön", "Index", "StockSaves", null, new { @class = " btn btn-warning" })
        </div>
    }
</div>
