﻿@model Stok_Takip.Models.UserSave

@{
    ViewBag.Title = "Delete";
}

<h2>Kayıt Sil</h2>

<h3>Silmekl İstediğinize Eminmisiniz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityQue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityQue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityAns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityAns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Anasayfaya Dön", "Index", "UserSaves", null, new { @class = " btn btn-warning" })
        </div>
    }
</div>
