﻿@model Stok_Takip.Models.UserSave

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityQue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityQue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityAns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityAns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","UserSaves", new { id = Model.ID },new { @class = "btn btn-danger"}) |
    @Html.ActionLink("Anasayfaya Dön", "Index", "UserSaves", null, new { @class = " btn btn-warning" })
</p>
